:80 {
  root * /var/www
  route {
    header -Server
    header Permissions-Policy: accelerometer=*, ambient-light-sensor=*, autoplay=*, battery=*, camera=*, cross-origin-isolated=*, display-capture=*, document-domain=*, encrypted-media=*, execution-while-not-rendered=*, execution-while-out-of-viewport=*, fullscreen=*, geolocation=*, gyroscope=*, keyboard-map=*, magnetometer=*, microphone=*, midi=*, navigation-override=*, payment=*, picture-in-picture=*, publickey-credentials-get=*, screen-wake-lock=*, sync-xhr=*, usb=*, web-share=*, xr-spatial-tracking=*
    handle /graphql/* {
      uri strip_prefix /graphql
      reverse_proxy graphql-engine:8080
    }
    handle /auth/* {
      uri strip_prefix /auth
      reverse_proxy admin:8888
    }
    handle /predict {
      reverse_proxy model:6001
    }
    try_files {path} {path}/ /index.html?{query}
    file_server
  }
}
